<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoConnectionString" value="mongodb://demouser:Pass@123@localhost:27017/testSchool" />
    <add key="MongoDatabaseName" value="testSchool" />
    <add key="MongoUsername" value="demouser" />
    <add key="MongoPassword" value="Pass@123" />
    <add key="MongoPort" value="27017" />
    <add key="MongoHost" value="localhost" />
  </appSettings>
</configuration>